@import url("https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&family=Outfit:wght@300&display=swap");
* {
  margin: 0%;
  padding: 0%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  list-style: none;
}

a {
  text-decoration: none;
}

.padrePrincipal {
  display: -ms-grid;
  display: grid;
  background-color: white;
  grip-gap: 5px 5px;
}

.padrePrincipal div {
  text-align: center;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 10px 5px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.hero {
  background-image: url("../../img/hero.jpg");
  background-position: center;
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-size: cover;
  height: 100%;
}

.hero__contenedor {
  position: relative;
  padding: 20px 15px;
  border-radius: 15px;
}

.hero__titulo {
  font-family: 'Outfit', sans-serif;
  font-size: 2rem;
  color: #7400b8;
}

.botonIndex {
  background-color: #00b4d8;
  border: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 20px 12px;
  border-radius: 100px;
  cursor: pointer;
  -webkit-transition: heigth 2s, width 1s;
  transition: heigth 2s, width 1s;
  font-size: 1rem;
  color: #7400b8;
}

.botonIndex:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.inicio {
  padding: 50px 40px;
  text-align: center;
  text-transform: uppercase;
  color: #7400b8;
}

.tamanioImg {
  padding: 5px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  padding: 30px 40px;
}

.tamanioImg:hover {
  border: black solid 3px;
  padding: 0 0;
}

.contenidoFinal {
  padding: 50px 40px;
  text-align: center;
  text-transform: uppercase;
  color: #7400b8;
}

.textoFinalPaginas {
  -ms-flex-line-pack: center;
      align-content: center;
  text-align: center;
  text-transform: uppercase;
  color: #7400b8;
}

.carousel {
  width: 95%;
  margin-left: 2.5%;
  margin-bottom: 30px;
}

.main__paginas {
  background-color: white;
  padding: 50px 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.titulo__contenedor__paginas {
  text-align: center;
  padding: 20px;
}

.year {
  width: 100%;
  padding: 3rem 5rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto auto auto;
      grid-template-columns: auto auto auto auto;
  -ms-grid-rows: auto auto auto;
      grid-template-rows: auto auto auto;
  grid-gap: 2rem;
  background: white;
}

.container {
  border: 1px solid #ddd;
  padding: 1rem;
  background: #fff;
}

.title {
  text-align: center;
  margin: .2rem 0;
  color: #232323;
  font-size: 1.2rem;
  text-transform: uppercase;
}

.calendar {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (auto)[7];
      grid-template-columns: repeat(7, auto);
}

.day {
  list-style: none;
  text-align: right;
  padding: .3rem .5rem;
  color: #444;
  font-size: .7rem;
}

.day-name {
  background: #eee;
  font-weight: 700;
  text-align: center;
}

.first-day {
  -ms-grid-column: 5;
      grid-column-start: 5;
}

.first-day-abr {
  -ms-grid-column: 4;
      grid-column-start: 4;
}

.first-day-may {
  -ms-grid-column: 6;
      grid-column-start: 6;
}

.first-day-jun {
  -ms-grid-column: 2;
      grid-column-start: 2;
}

.first-day-jul {
  -ms-grid-column: 4;
      grid-column-start: 4;
}

.first-day-ago {
  -ms-grid-column: 7;
      grid-column-start: 7;
}

.first-day-sep {
  -ms-grid-column: 3;
      grid-column-start: 3;
}

.first-day-oct {
  -ms-grid-column: 5;
      grid-column-start: 5;
}

.first-day-dic {
  -ms-grid-column: 3;
      grid-column-start: 3;
}

.contenedorBoton {
  text-align: center;
  padding: 20px 0px;
}

.boton {
  background-color: #7400b8;
  border: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 20px 12px;
  border-radius: 100px;
  cursor: pointer;
  -webkit-transition: heigth 2s, width 1s;
  transition: heigth 2s, width 1s;
  font-size: 1rem;
  color: #f4f3ee;
}

.boton:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 60px 40px;
  background-color: #7400b8;
}

.footer__contenedor {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 30px 50px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  text-align: center;
}

.footer__imgLogo {
  border-radius: 10%;
  width: 100px;
  height: 100px;
}

.footer__formulario {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer__formulario__etiqueta {
  padding: 10px 0px;
  margin: 10px;
  text-transform: uppercase;
}

.footer__item {
  padding: 5px 0px;
  color: white;
  font-family: 'Outfit', sans-serif;
}

.footer__contenido {
  padding: 50px 30px;
  text-align: center;
}

.textoEmail {
  color: white;
}

.imgLogo {
  height: 80px;
  width: 100%;
}

.mensajeria {
  border-radius: 10%;
  width: 80px;
  height: 60px;
}

.header__item {
  background-color: #00b4d8;
  color: #7400b8;
  border-radius: 10%;
  padding: 0px 10px;
}

.header__item:hover {
  scale: 1;
  background-color: #014f86;
  color: #b298dc;
}

.botonRegistro {
  background-color: #7400b8;
  border: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 20px 12px;
  border-radius: 100px;
  cursor: pointer;
  -webkit-transition: heigth 2s, width 1s;
  transition: heigth 2s, width 1s;
  font-size: 1rem;
  color: #f4f3ee;
  padding: 5px;
}

.botonRegistro:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.parrafoExtra {
  text-align: justify;
  width: 80%;
  color: black;
  margin-left: 10%;
  line-height: 200%;
}

.subTitulos {
  margin-bottom: 5px;
  margin-top: 30px;
  font-size: 1.2rem;
  color: #7400b8;
  text-decoration: underline;
}

@media screen and (min-width: 768px) {
  .padrePrincipal {
    -ms-grid-rows: 0.1fr 0.7fr 0.2fr auto auto auto 0.2fr 1fr;
        grid-template-rows: 0.1fr 0.7fr 0.2fr auto auto auto 0.2fr 1fr;
    -ms-grid-columns: 50% 50%;
        grid-template-columns: 50% 50%;
  }
  .navBar {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
  }
  .hero {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
  }
  .inicio {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3/4;
  }
  .img1 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-row: 4;
    -ms-grid-row-span: 1;
    grid-row: 4/5;
  }
  .img2 {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    -ms-grid-row: 4;
    -ms-grid-row-span: 1;
    grid-row: 4/5;
  }
  .img3 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-row: 5;
    -ms-grid-row-span: 1;
    grid-row: 5/6;
  }
  .img4 {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    -ms-grid-row: 5;
    -ms-grid-row-span: 1;
    grid-row: 5/6;
  }
  .img5 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-row: 6;
    -ms-grid-row-span: 1;
    grid-row: 6/7;
  }
  .img6 {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    -ms-grid-row: 6;
    -ms-grid-row-span: 1;
    grid-row: 6/7;
  }
  .contenidoFinal {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
    -ms-grid-row: 7;
    -ms-grid-row-span: 1;
    grid-row: 7/8;
  }
  .carousel {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
    -ms-grid-row: 8;
    -ms-grid-row-span: 1;
    grid-row: 8/9;
  }
  .footer {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
    -ms-grid-row: 9;
    -ms-grid-row-span: 1;
    grid-row: 9/10;
  }
}

@media screen and (min-width: 1440px) {
  .padrePrincipal {
    -ms-grid-rows: 0.1fr 0.5fr 0.2fr auto auto 0.2fr 1fr;
        grid-template-rows: 0.1fr 0.5fr 0.2fr auto auto 0.2fr 1fr;
    -ms-grid-columns: (auto)[3];
        grid-template-columns: repeat(3, auto);
  }
  .navBar {
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-column: 1/4;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
  }
  .hero {
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-column: 1/4;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
  }
  .inicio {
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-column: 1/4;
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3/4;
  }
  .img1 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-row: 4;
    -ms-grid-row-span: 1;
    grid-row: 4/5;
  }
  .img2 {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    -ms-grid-row: 4;
    -ms-grid-row-span: 1;
    grid-row: 4/5;
  }
  .img3 {
    -ms-grid-column: 3;
    -ms-grid-column-span: 1;
    grid-column: 3/4;
    -ms-grid-row: 4;
    -ms-grid-row-span: 1;
    grid-row: 4/5;
  }
  .img4 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-row: 5;
    -ms-grid-row-span: 1;
    grid-row: 5/6;
  }
  .img5 {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    -ms-grid-row: 5;
    -ms-grid-row-span: 1;
    grid-row: 5/6;
  }
  .img6 {
    -ms-grid-column: 3;
    -ms-grid-column-span: 1;
    grid-column: 3/4;
    -ms-grid-row: 5;
    -ms-grid-row-span: 1;
    grid-row: 5/6;
  }
  .contenidoFinal {
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-column: 1/4;
    -ms-grid-row: 6;
    -ms-grid-row-span: 1;
    grid-row: 6/7;
  }
  .carousel {
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-column: 1/4;
    -ms-grid-row: 7;
    -ms-grid-row-span: 1;
    grid-row: 7/8;
  }
  .footer {
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-column: 1/4;
    -ms-grid-row: 8;
    -ms-grid-row-span: 1;
    grid-row: 8/9;
  }
}

/* PAGINAS */
@media screen and (min-width: 768px) {
  .year {
    -ms-grid-columns: auto auto;
        grid-template-columns: auto auto;
    -ms-grid-rows: auto auto auto auto auto;
        grid-template-rows: auto auto auto auto auto;
    padding: 0px 0px;
  }
}

@media screen and (min-width: 1044px) {
  .year {
    width: 100%;
    padding: 3rem 5rem;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto auto auto auto;
        grid-template-columns: auto auto auto auto;
    -ms-grid-rows: auto auto auto;
        grid-template-rows: auto auto auto;
    grid-gap: 2rem;
  }
}

@media screen and (max-width: 425px) {
  .footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer__contenedor {
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
  .footer__imgLogo {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .mensajeria {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .year {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: (auto)[12];
        grid-template-rows: repeat(12, auto);
    -ms-grid-columns: auto;
        grid-template-columns: auto;
    grid-gap: 2rem;
  }
}

@media screen and (max-width: 320px) {
  .imgLogo {
    width: 220px;
  }
}
/*# sourceMappingURL=main.css.map */