.main__paginas{
    background-color: white;
    padding: 50px 30px;
    display: flex;
    flex-direction: column;
}

.titulo__contenedor__paginas{
    text-align: center;
    padding: 20px;
}

.year{
    width: 100%;
    padding: 3rem 5rem;
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto auto auto;
    grid-gap: 2rem;
    background: white;
}
.container{    
    border: 1px solid #ddd;
    padding: 1rem;   
    background: #fff;
}
.title{
    text-align: center;
    margin: .2rem 0;
    color: #232323;
    font-size: 1.2rem;
    text-transform: uppercase;
}
.calendar{
    display: grid;
    grid-template-columns: repeat(7, auto);
}
.day{
    list-style: none;
    text-align: right;
    padding: .3rem .5rem;
    color: #444;
    font-size: .7rem;
}
.day-name{
    background: #eee;
    font-weight: 700;
    text-align: center;
}
.first-day{
    grid-column-start: 5;
}
.first-day-abr{
    grid-column-start: 4;
}
.first-day-may{
    grid-column-start: 6;
}
.first-day-jun{
    grid-column-start: 2;
}
.first-day-jul{
    grid-column-start: 4;
}
.first-day-ago{
    grid-column-start: 7;
}
.first-day-sep{
    grid-column-start: 3;
}
.first-day-oct{
    grid-column-start: 5;
}
.first-day-dic{
    grid-column-start: 3;
}

.boton__paginas{
    margin-top: 30px;
    align-self: center;
}
