.mensajeria{
    border-radius: 10%;
    width: 120px;
    height: 120px;
}

.separador{
    border: none;
    height: 10px;
    background-color: black;
}


.boton {
    background-color: darkblue;
    border: none;
    justify-content: center;
    color: darkgoldenrod;
    padding: 20px 12px;
    border-radius: 100px;
    cursor: pointer;
    transition: heigth 2s, width 1s; 

    &:hover {
      transform: scale(1.2);
    }
}