@import "./vars";

.footer{
    display: $display;
    padding: 60px 40px;
    background-color: $colorLetra;
    &__contenedor{
        flex-basis: 100%;
        display: $display;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 30px 50px;
        justify-content: space-around;
    }
    
    &__imgLogo{
      border-radius: 10%;
      width: 100px;
      height: 100px;
    }
    
    &__formulario{
        display: $display;
        flex-direction: column;
    }
    
    &__formulario__etiqueta{
        padding: 10px 0px;
        margin: 10px;
        text-transform: uppercase;
    }
    
    &__item{
        padding: 5px 0px;
        color: $blanca;
        font-family: 'Outfit', sans-serif; 
       }
    
    &__contenido{
        padding: 50px 30px;
        text-align: center;
    }
}

.textoEmail{
    color: $blanca;
}