.footer{
    display: flex;
    padding: 60px 40px;
    background-color: #005b9f;
    &__contenedor{
        flex-basis: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 30px 50px;
        justify-content: space-around;
    }
    
    &__imgLogo{
      border-radius: 10%;
      width: 150px;
      height: 150px;
    }
    
    &__formulario{
        display: flex;
        flex-direction: column;
    }
    
    &__formulario__etiqueta{
        padding: 10px 0px;
        margin: 10px;
        text-transform: uppercase;
    }
    
    &__item{
        padding: 5px 0px;
    }
    
    &__contenido{
        background-color: #005b9f;
        padding: 50px 30px;
        text-align: center;
    }
}
