@import "./vars";

.hero{
    background-image: url("../../img/hero.jpg");
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    height: 100%;
    
    &__contenedor{
    position: relative;
    padding: 20px 15px;
    border-radius: 15px; 
    } 
    &__titulo{
      font-family: 'Outfit', sans-serif;
      font-size: 2rem;
      color: $colorLetra; 
    }
  } 
  
  .boton{    
    background-color: #00b4d8;
    border: none; 
    justify-content: center;
    color: darkgoldenrod;
    padding: 20px 12px;
    border-radius: 100px;
    cursor: pointer;
    transition: heigth 2s, width 1s;
    font-size: 1rem;
    
    &:hover{
      transform: scale(1.1);
    }
  }
