.main__contenedor{
    background-color: aquamarine;
    display: grid; 
    grid-template-rows: auto auto auto;
    grid-template-columns: auto auto auto;
    padding: 80px 80px;
  }
  
  .tamanioImg{
      margin-top: 30px;
      padding: 30px 30px;
      width: 500px;
      height: 300px;
      margin-bottom: 30px;
      object-fit: cover;
  }