* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    list-style: none; }

.padrePrincipal{
      display: grid;
      grid-template-rows: 0.2fr 1fr 0.5fr auto 1fr 1fr;
      background-color: white;
      grip-gap: 5px 5px;
}

.padrePrincipal div{
  text-align: center;
}

