* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    list-style: none; 
 }

 a{
  text-decoration: none;
 }
.padrePrincipal{
      display: grid;
      
      background-color: white;
      grip-gap: 5px 5px;
}

.padrePrincipal div{
  text-align: center;
}

