.hero{
    background-image: url("../img/avion.jpg");
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    height: 50vh;
    &__contenedor{
        position: relative;
        padding: 20px 15px;
        padding: 0px 220px;
        border-radius: 15px; 
    }
    
    &__titulo{
        font-family: 'Outfit', sans-serif;
        font-size: 2rem;
        color: coral;  
    }
}


.boton{    
    background-color: darkblue;
    border: none; 
    justify-content: center;
    color: darkgoldenrod;
    padding: 20px 12px;
    border-radius: 100px;
    cursor: pointer;
    transition: heigth 2s, width 1s;
    &:hover{
        height: 80px; width: 140px;
    }
}
